
html {
    background: #272C32;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media screen and (max-width: 980px) {
    .container {
        flex-wrap: wrap;
    }
}

.content {
    width: 100%;
}

.title {
    color: white;

    font-size: 24px;
    font-weight: bold;

    padding: 16px 32px;
}

.title:first-letter {
    text-transform:capitalize;
}


.data {
    font-size: 14px;
}

hr {
    background: rgb(79, 86, 107);
    border: none;
    height: 1px;
}
