.request {
    padding: 12px 32px;
}

.requestTitle {
    font-size: 18px;
    font-weight: bold;
    color: white;

    margin: 12px 0px;

}

.request > .method {
    user-select: none;
}

.method.GET {
    color: rgb(108, 142, 239);
}

.method.POST {
    color: rgb(133, 217, 150);
}

.method.PUT {
    color: rgb(229, 202, 40);
}

.method.DELETE {
    color: rgb(229, 40, 60);
}

.requestUrl {
    margin-left: 8px;

    color: white;
}

.requestDescription {
    color: #BDBDBD;
}

.requestContent {
    margin: 24px 0;
}